PyQt5
pyqtwebengine
pandas
gspread
gspread_dataframe
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
graphviz
networkx
pyvista
pyvistaqt
numpy
Pillow
python-docx
openpyxl
winregistry
pyinstaller
pyautogui
vtk
chardet
typing
pyqtgraph
collection
trimesh
openpyxl
python-docx
svgwrite
pathlib

