python-docx~=1.1.1
PyQt5~=5.15.10
pyqtwebengine
pandas~=2.2.2
gspread~=6.1.0
gspread_dataframe
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
graphviz~=0.20.3
networkx~=3.3
pyvista~=0.43.6
pyvistaqt~=0.11.0
numpy~=1.26.4
Pillow~=10.3.0
openpyxl~=3.1.2
winregistry
pyautogui~=0.9.54
vtk~=9.3.0
chardet~=5.2.0
pyqtgraph~=0.13.7
collection
trimesh~=4.3.2
svgwrite~=1.4.3
pyinstaller